##### The map() function applies a given function to all items in an input list (or any other iterable) and return a map object(an iterator). This is particularly useful for transforming data in a list comprehension

In [1]:
def square(x):
    return x*x

square(4)

16

In [2]:
numbers = [1,2,3,4,5,6,7,8]

map(square, numbers)

In [6]:
list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
## Lambda function with map

numbers = [1,2,3,4,5,6,7,8]

list(map(lambda x : x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [9]:
### Map multiple iterables

numbers1 = [1,2,3]
numbers2 = [4,5,6,7]

added_numbers = list(map(lambda x,y:x+y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9]

In [10]:
words = ['apple', 'banana', 'cherry']
upper_word = list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [11]:
def get_name(person):
    return person['name']

people=[
    {'name':"Rohit", 'age':32},
    {'name':"Virat", 'age':33}
]

list(map(get_name, people))

['Rohit', 'Virat']