In [17]:
## Creating a tupe

empty_tuple = ()

print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [18]:
lst = list()
print(type(lst))

<class 'list'>

In [19]:
# tuple = tuple()
# print(type(tuple))

In [21]:
del tuple
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [22]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [23]:
mixed_tuple = (1, "Hello",3.14, True)

In [24]:
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [25]:
## Accessible tuple elements

numbers[0]

1

In [26]:
numbers[3
        ]

4

In [27]:
print(numbers[-1])

6

In [28]:
numbers[0:4]

(1, 2, 3, 4)

In [29]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [31]:
## Tuple ops

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello', 3.14, True)

In [32]:
mixed_tuple * 3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [33]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [34]:
## Immutable nature of Tuples

list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [35]:
list[1] = "Rohit"
print(list)

[1, 'Rohit', 3, 4, 5]

In [37]:
numbers[1] = "Rohit"

TypeError: 'tuple' object does not support item assignment

In [40]:
## tuple methods
print(numbers)
print(numbers.count(1))

(1, 2, 3, 4, 5, 6)
1

In [41]:
print((numbers*2).count(1))

2

In [42]:
print(numbers.index(3))

2

In [43]:
print(numbers.index(8))

ValueError: tuple.index(x): x not in tuple

In [44]:
## Packing and Unpacking tuple

packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [45]:
## Unpacking a tuple
a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
## Unpacking with *

numbers = (1,2,3,4,5,6)
first, *middle, sec_last, last = numbers
print(first)
print(middle)
print(sec_last)
print(last)

1
[2, 3, 4]
5
6

In [48]:
## Nested Tuple

list = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14, "c"]]

list[0]

[1, 2, 3, 4]

In [50]:
list[0][0:3]

[1, 2, 3]

In [51]:
list[2][0:3]

[1, 'Hello', 3.14]

In [53]:
nested_tuple = ((1,2,3),("a", "b","c"), (True, False))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [54]:
## iterating over nested tuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end="")
    print()

123
abc
TrueFalse