In [2]:
## Basic Syntax Rules in Python
## Case sensitivity - Python is case sensitive

name = "Rohit"
Name = "Sharma"

print(name)
print(Name)

Rohit
Sharma

In [4]:
## Indentation
## Python uses indentation to define blocks of code. 

age=32
if age>30:
    print(age)
print(age)

32
32

In [6]:
## This is a single line comment

print("Hello World")

Hello World

In [7]:
## Line Continuation

total = 1+2+3+4+5+6+7+ \
4+5+6

print(total)

43

In [8]:
## Multiple statements on a single line

x=5;y=10;z=x+y
print(z)

15

In [ ]:
## Understanding Semantics in Python
# Variable Assignment

age = 32 ##age is an integer
name = "Rohit" ##name is a string

In [ ]:

type(age)

int

In [10]:
type(name)

str

In [11]:
## Type inference
variable = 10
print(type(variable))
variable="Rohit"
print(type(variable))

<class 'int'>
<class 'str'>

In [16]:
age=32
if age>30:
    print(age)

32

In [ ]:
## Name Error
a=b

NameError: name 'b' is not defined

In [15]:
## Code examples of indentation

if True:
    print("Correct Indentation")
    if False:
        print("This won't print")
    print("This will print");
print("Outside the if block")

Correct Indentation
This will print
Outside the if block