In [1]:
## Intro to Variables
## Declaring and assigning variables
## Naming Convention
## Understanding Variable Types
## Type Checking and Conversion
## Dynamic typing
## Practical Examples and Common Errors

In [2]:
a=100

In [3]:
## Declaring and assigning variables

age = 32
height = 6.1
name = "Rohit"
is_student = True

## printing the variables
print("age : ", age)
print("height: ", height)
print("name:", name);

age :  32
height:  6.1
name: Rohit

In [4]:
## Naming Convention
## Variable names should be descriptive
## They must always start with a letter or underscore
## can contain letter, number or underscore
## variable names are case sessitive

## Valid names
first_name = "Rohit"
last_name = "Sharma"

In [5]:
#Invalid names
2age=30

SyntaxError: invalid syntax (3978959432.py, line 2)

In [6]:
first-name = "Rohit"

SyntaxError: cannot assign to operator (2463860417.py, line 1)

In [7]:
@name = "Rohit"

SyntaxError: invalid syntax (2744912164.py, line 1)

In [8]:
## case sensitive
name = "Rohit"
Name = "Sharma"

In [9]:
## Understanding Variable types
## Python is dynamically typed
## Type of variable is determined at runtime

age = 25 #int
height = 6.1  #float
is_student = True # bool
name = "Rohit"

print(type(name))

<class 'str'>

In [10]:
## Type Checking and Conversion

type(height)

float

In [12]:
age = 25
print(type(age))

## Type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [13]:
age = '25'
print(int(age))

25

In [14]:
name = 'Krish'
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [15]:
height = 5.11
print(type(height))

<class 'float'>

In [16]:
int(height)

5

In [17]:
float(int(height))

5.0

In [21]:
## Dynamic Typing
## pytohn allows type of variable to change as program executes
var = 10
print(var, type(var))

var = 'Hello'
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [23]:
## input

age=int(input("What is the age?"))
print(age, type(age))

44 <class 'int'>

In [25]:
## Simple calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:",sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 42.0
Difference: 28.0
Product: 245.0
Quotient: 5.0