In [1]:
## Integers

age = 35
type(age)

int

In [3]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [5]:
## string
name = "Rohit"
print(name)
print(type(name))

Rohit
<class 'str'>

In [8]:
## boolean
type(True)

bool

In [11]:
bool()

False

In [12]:
a=10
b=10
type(a==b)
a==b

True

In [13]:
## common errors

result = "Hello"+5

TypeError: can only concatenate str (not "int") to str

In [15]:
result = "Hello"+str(5)
print(result)

Hello5

In [ ]:
str = "Hello"